<div style="background-color: #009fd9; border-radius:0.25rem; padding-top:0.75rem; padding-bottom:1rem;">
  <h1 style="text-align:center;"> Providers Clustering </h1>
</div>

## Import the Libraries

In [5]:
import pandas as pd

## Load Data

In [50]:
df = pd.read_excel('data/wallet_charges.xlsx', parse_dates=['wallet_charged_date'])

df.head()

   provider_user_id wallet_charged_date  wallet_charged_amount
0            550102 2024-11-26 01:34:12                5000000
1           2019793 2024-11-26 01:04:23                2000000
2            430227 2024-11-26 01:35:09                2000000
3            739799 2024-11-26 00:47:09                2000000
4           2093162 2024-11-26 03:11:53                1600000

## First Month Data

In [52]:
first_date = df["wallet_charged_date"].min().normalize()
first_day_of_first_month = first_date.replace(day=1)
exists_first_or_second_day = (
    df["wallet_charged_date"]
    .dt.floor("D")
    .isin([first_day_of_first_month, first_day_of_first_month + pd.Timedelta(days=1)])
).any()

if not exists_first_or_second_day:
    df = df[~(df["wallet_charged_date"].dt.month == first_date.month)]

## Last Month Data

In [53]:
last_date = df["wallet_charged_date"].max().normalize()
last_day_of_last_month = last_date.replace(day=1) + pd.offsets.MonthEnd(0)
exists_last_day = (
    df["wallet_charged_date"]
    .dt.floor("D")
    .isin([last_day_of_last_month, last_day_of_last_month - pd.Timedelta(days=1)])
).any()

if not exists_last_day:
    df = df[~(df["wallet_charged_date"].dt.month == last_date.month)]

df.head()

       provider_user_id wallet_charged_date  wallet_charged_amount
14961           2219963 2024-10-31 20:37:27                7000000
14962           1422472 2024-10-31 00:01:27                5000000
14963            386026 2024-10-31 19:40:58                5000000
14964           2154119 2024-10-31 16:41:21                5000000
14965            888178 2024-10-31 14:55:54                5000000

## Changing Types

In [26]:
df['wallet_charged_amount'] = df['wallet_charged_amount'].astype('int32')
df['wallet_charged_date'] = df['wallet_charged_date'].dt.to_period('M')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 94023 entries, 0 to 94022
Data columns (total 3 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   provider_user_id       94023 non-null  int64
 1   wallet_charged_date    94023 non-null  period[M]
 2   wallet_charged_amount  94023 non-null  int32
dtypes: int32(1), int64(1), period[M](1)
memory usage: 1.8 MB